html, body, #root {
  height: 100%;
}
body {
  /* buraya font gelecek */
  font-family: sans-serif;
  margin: 0;
  font-size: 1.4em;
  background: #dfdfdf;
  color: #333;
}
h1,h2,h3,p {
  margin: 0;
}